.footer {
  width: 100%;
  background: #ffffff;
  padding: 40px 20px;
  text-align: center;
  border-top: 1px solid #e6e6e6;

  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
}


.footer-icons {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 12px;
}

.footer-icon {
  font-size: 30px;
  color: #D4AF37;
  transition: 0.3s ease;
}

.footer-icon:hover {
  color: #b8962f;
  transform: scale(1.15);
}

.footer-text {
  color: #777;
  font-size: 14px;
  margin-top: 5px;
}
