.home-section {
  min-height: 100vh; 
  display: flex;
  justify-content: center; 
  align-items: center;     
  /* background-color: #F2F2F2; */
  color: #0D0D0D;
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.home-content {
  max-width: 100%; 
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.home-section h1 {
  font-size: 48px;
  margin-bottom: 10px;
  color: #0D0D0D; 
}

.home-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #A1A1A1;
}

.typewriter {
  color: #D4AF37; 
  font-weight: bold;
}

.home-section p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #0D0D0D; 
  line-height: 1.6;
}

.home-section .btn {
  padding: 12px 30px;
  background-color: #D4AF37; 
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s;
}

.home-section .btn:hover {
  background-color: #b8952e; 
}

@media (max-width: 768px) {
  .home-section h1 {
    font-size: 36px;
  }
  .home-section h2 {
    font-size: 22px;
  }
  .home-section p {
    font-size: 16px;
  }
  .home-section .btn {
    padding: 10px 20px;
  }
}
