.nav {    
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  background: #FFFFFF; 
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 2px 5px rgba(13, 13, 13, 0.1);
  z-index: 1000;
}

html {
  scroll-behavior: smooth;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  font-size: 16px;
  color: #A1A1A1; 
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #D4AF37; 
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon span {
  width: 25px;
  height: 3px;
  background: #0D0D0D; 
  margin: 4px;
}

@media (max-width: 768px) {
  .menu-icon {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 65px;
    right: -200px;
    background: #FFFFFF;
    width: 200px;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
    transition: 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(13, 13, 13, 0.2);
  }

  .nav-links.open {
    right: 0;
  }

  .nav-links li a {
    color: #0D0D0D; 
  }

  .nav-links li a:hover {
    color: #D4AF37; 
  }
}
